<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1><%= t(:heading, scope: :expired_rent, first_name: @user.first_name.capitalize) %></h1>

  <h3>
    <%= t(:book_details) %>
  </h3>

  <ul>
    <% @expired_rent.book.as_json(except: %i[id created_at updated_at image]).each do |key,val| %>
      <% unless val.nil? %>
        <li> <%= t(key, scope: :book) %>: <%= val %> </li>
      <% end %>
    <% end %>
  </ul>

  <h3>
    <%= t(:rent_details) %>
  </h3>

  <ul>
    <% @expired_rent.as_json(only: %i[created_at rent_start rent_end]).each do |key,val| %>
      <li> <%= t(key, scope: :rent, default: t(key)) %>: <%= l(val, format: :short) %> </li>

    <% end %>
  </ul>

</body>
</html>